/* Block */
/* Element */
/* Modifier */

/* Base */
body {
	background-color: #616161;
	margin: 0px;
	padding: 0px;
}

/* Type */
@font-face {
	font-family: BebasNeueBold;
	src: url('../fonts/bebasneue-bold.otf');
}
@font-face {
	font-family: BebasNeueRegular;
	src: url('../fonts/bebasneue-regular.otf');
}

h1 {
	font-family: "BebasNeueBold", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}
h2, p {
	font-family: "BebasNeueRegular", Helvetica, Arial, sans-serif;
	margin-top: 0px;
	padding: 0px;
}

/* Color Black */
#hero > .container > h1, #backstory > .container > h2, #item-1 > .container > h2, #contact > .container > h1, #contact > .container > p, a {
	color: #454747; /*black*/
}
/* Yellow #e1b148 */
#hero > .container > h2, #behold > .container > h1, #contact > .container > p {
	color: #e1b148;
}
/* Cream #efedee */
#backstory > .container > h1, #behold > .container > h2, #item-1 > .container > h1 {
	color: #efedee;
}

/* Font Sizes */
/* Desktop */
@media screen and (min-width: 1200px) {
	h1 {
		font-size: 150px;
	}
	h2 {
		font-size: 58px;
	}
	#behold > .container > h1 {
		font-size: 350px;
	}
	#item-1 > .container > h1 {
		font-size: 58px;
	}
	#item-1 > .container > h2 {
		font-size: 38px;
	}
	#contact > .container > h1 {
		font-size: 140px;
	}
}
/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) {
	h1 {
		font-size: 120px;
	}
	h2 {
		font-size: 48px;
	}
	#behold > .container > h1 {
		font-size: 250px;
	}
	#item-1 > .container > h1 {
		font-size: 48px;
	}
	#item-1 > .container > h2 {
		font-size: 28px;
	}
	#contact > .container > h1 {
		font-size: 120px;
	}
}
/* Mobile */
@media screen and (max-width: 599px) {
	h1 {
		font-size: 100px;
	}
	h2 {
		font-size: 38px;
	}
	#behold > .container > h1 {
		font-size: 150px;
	}
	#item-1 > .container > h1 {
		font-size: 38px;
	}
	#item-1 > .container > h2 {
		font-size: 18px;
	}
	#contact > .container > h1 {
		font-size: 100px;
	}
}


/* Base */
section {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	text-align: center;

	height: 100vh;
	max-width: 100%;
	background-size: cover;
}

@media screen and (min-width: 1200px) {
	#hero {
		background-image: url('../images/web/portfolio-site-v2.2-web-hero.jpg');
	}
	#backstory {
		background-image: url('../images/web/portfolio-site-v2.2-web-backstory.jpg');
	}
	#hero, #backstory {
		text-align: left;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.container {
		padding: 40px;
		width: 750px
	}
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
	#hero {
		background-image: url('../images/tablet/portfolio-site-v2.2-tablet-hero.jpg');
	}
	#backstory {
		background-image: url('../images/tablet/portfolio-site-v2.2-tablet-backstory.jpg');
	}
	#hero, #backstory {
		text-align: right;
		align-items: flex-end;
		justify-content: flex-start;
	}
	.container {
		padding: 20px;
	}
}

@media screen and (max-width: 599px) {
	#hero {
		background-image: url('../images/mobile/portfolio-site-v2.2-mobile-hero.jpg');
	}
	#backstory {
		background-image: url('../images/mobile/portfolio-site-v2.2-mobile-backstory.jpg');
	}
	#hero, #backstory {
		justify-content: flex-start;
	}
	.container {
		padding: 40px;
	}
}

#behold {
	background-color: #454747;
}

#item-1 {
	background-color: #e1b148;
}

#contact {
	background-color: #ffffff;
}